html {
    font-size: 10;
    font-family: 'Work Sans', sans-serif;
    background-color: #F78284;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #F78284;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 102%;
    height: auto;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #89A1BC;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}